body{
 text-align: center;
 background-image: url(https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
 background-repeat: round;
 background-size: cover;
}
.bunkers{
text-align: center;
border-color: black;
border-style: ridge;
height: fit-content;
width: 500px;
}
.tes{
height: 100px;
width: 100px;
}